{% extends "base.html"%}
{% block content%}

<form action="{% url 'asistentes:asistentes_create'%}" method="POST">
    {% csrf_token %}
    
    <div class="row">
      
          <div class="col-sm-6">
                    <div class="form-group required">
                 <label class="control-label">Nombre</label>                
                      {{form.nombre}}
                      
                    </div>
            <div class="form-group required">
                 <label class="control-label">Apellido Paterno</label>                
                      {{form.apellido_paterno}}
          </div>
            <div class="form-group required">
                 <label class="control-label">Apellido Materno</label>                
                      {{form.apellido_materno}}
          </div>
          <div class="form-group requi requiredred">
                 <label class="control-label">Correo</label>                
                      {{form.correo}}
          </div>
          <div class="form-group required">
                 <label class="control-label">Sexo</label>                
                      {{form.sexo}}
          </div>
          <div class="form-group required">
                 <label class="control-label">Edad</label>                
                      {{form.edad}}
          </div>
          <div class="form-group required">
                 <label class="control-label">Celular</label>                
                      {{form.celular}}
          </div>

            <div class="form-group required checkbox">
              <label class="control-label">{{form.te_gustaria_recibir_informacion}}Te gustaria recibir información</label>
            </div>
        </div>
      <div class="col-sm-6">
                <div class="form-group required">
                       <label class="control-label">Trabajas en educación</label>                
                            {{form.trabajas_en_educacion}}
                </div>
                <div class="form-group required">
                       <label class="control-label">Institución de procedencia</label>                
                            {{form.institucion_de_procedencia}}
                </div>    
              
              <div class="form-group required">
                <label class="control-label">Nivel</label>
               <div class="checkbox">
                <label>{{form.preescolar}}Preescolar</label>
              </div>
              <div class="checkbox">
                <label>{{form.primaria}}Primaria</label>
              </div>
              <div class="checkbox">
                <label>{{form.secundaria}}Secundaria</label>
              </div>
              <div class="checkbox">
                <label>{{form.media_superior}}Media superior</label>
              </div>
              <div class="checkbox">
                <label>{{form.superior}}Superior</label>
              </div>
              <div class="checkbox">
                <label>{{form.posgrado}}Posgrado</label>
              </div>
              <div class="checkbox">
                <label>{{form.no_formal}}No formal</label>
              </div>
              </div>
                <div class="form-group required">
                       <label class="control-label">Ocupación</label>                
                            {{form.ocupacion}}
                </div>
                  <div class="form-group required">
                       <label class="control-label">Nombramiento</label>                
                            {{form.nombramiento}}
                </div>
                    <div class="form-group required">
                       <label class="control-label">Selecciona un taller</label>                
                            {{form.taller}}
                </div>

                      
                    </div>
    </div>    

  <div class="col-sm-12">  
    <div class="form-group">
	
		<input class="btn btn-success pull-left" type="submit" name="submit" value="Guardar">
	</div>
  </div>
</form>

{% endblock%}

{%block js%}
<script type="text/javascript" charset="utf-8">
$(document).ready(function() {

    $('#id_trabajas_en_educacion').change(function(){
         var trabajas_en_educacion = $( '#id_trabajas_en_educacion option:selected' ).val();
         if(trabajas_en_educacion == "Si"){
            $('#id_ocupacion').prop('disabled', true);
            $('#id_nombramiento').prop('disabled', true);
            
            $('#id_institucion_de_procedencia').prop('disabled', false);
            $('#id_preescolar').prop('disabled', false);
            $('#id_primaria').prop('disabled', false);
            $('#id_secundaria').prop('disabled', false);
            $('#id_media_superior').prop('disabled', false);
            $('#id_superior').prop('disabled', false);
            $('#id_posgrado').prop('disabled', false);
            $('#id_no_formal').prop('disabled', false);

         }else if(trabajas_en_educacion == "No"){
            $('#id_institucion_de_procedencia').prop('disabled', true);
            $('#id_preescolar').prop('disabled', true);
            $('#id_primaria').prop('disabled', true);
            $('#id_secundaria').prop('disabled', true);
            $('#id_media_superior').prop('disabled', true);
            $('#id_superior').prop('disabled', true);
            $('#id_posgrado').prop('disabled', true);
            $('#id_no_formal').prop('disabled', true);          

            $('#id_ocupacion').prop('disabled', false);
            $('#id_nombramiento').prop('disabled', false);
         }
      });

  });
</script>
{%endblock%}