<!DOCTYPE html>
<html>
<head>
  <title>IV Coloquio de Atención Plena: teoría y aplicaciones</title>
<meta charset="UTF-8">  
</head>

<body>
<h3>{{nombre_completo}}</h3>
		
<p>	
Esperando te encuentres bien, te comunicamos que el <b>IV COLOQUIO “ATENCIÓN PLENA: TEORÍA Y APLICACIONES”</b>, el cual se estaba llevando a cabo los días 19 y 20 de septiembre de 2017, fue suspendido debido al sismo ocurrido. 
</p>

<p>
El IV Coloquio se reanudará los días <b>14 y 15 de noviembre del año en curso en el Auditorio Dr. Luis Lara Tapia de la Facultad de Psicología de la UNAM.</b>
</p>

<p>
Se adjunta el cartel promocional con el nuevo programa.
</p>

<p>
<b>Ya no es necesario registrarse en línea</b>, sólo se llevará el registro presencial en el lugar del evento.
</p>
 
<p>
Esperamos contar con tu asistencia, muchas gracias.
</p>

<p>
Atentamente
La coordinación.
</p>
</body>
</html>