<!DOCTYPE html>
<html>
<head>
  <title>IV Coloquio de Atención Plena: teoría y aplicaciones</title>
<meta charset="UTF-8">  
</head>

<body>
<h1>Confirmación de registro</h1>
		<h3>{{nombre_completo}}</h3>
		<h3>Folio: {{folio}}</h3>
		<p>Tu registro al:</p>
		
		<h3>IV Coloquio de Atención Plena: teoría y aplicaciones</h3>
		
		<p>se ha completado con éxito.</p>
		
		<p>Fecha: 18, 19 y 20 de Septiembre de 2017</p>
		<p>Sedes:</p>
		<p>Facultad de Psicología, UNAM</p>
		<p>ENP # 8 "Miguel E. Shulz", UNAM</p>
		<p>Instituto Nacional de Psiquiatría, Juan Ramon de la Fuente Muñiz</p>
		

</body>
</html>