{% extends "base.html"%}
{% block content%}
<p>* Campo obligatorio</p>
<br>
<form action="{% url 'asistentes:asistentes_create'%}" method="POST">
    {% csrf_token %}
    
    <div class="row">
      
          <div class="col-sm-6">
                    <div class="form-group required">
                 <label class="control-label">Nombre</label>                
                      {{form.nombre}}
                      
                    </div>
            <div class="form-group required">
                 <label class="control-label">Apellido Paterno</label>                
                      {{form.apellido_paterno}}
          </div>
            <div class="form-group required">
                 <label class="control-label">Apellido Materno</label>                
                      {{form.apellido_materno}}
          </div>
          <div class="form-group requi required">
                 <label class="control-label">Correo</label>                
                      {{form.correo}}
          </div>
          <div class="form-group requi required">
                 <label class="control-label">Confirmación correo</label>                
                      <input class="form-control" id="id_confirmacion_correo" name="confirmacion_correo" placeholder="Ej. jorge@micorreo.com" type="email" required="">
          </div>
          <div class="form-group required">
                 <label class="control-label">Sexo</label>                
                      {{form.sexo}}
          </div>
          <div class="form-group required">
                 <label class="control-label">Edad</label>                
                      {{form.edad}}
          </div>
          <div class="form-group required">
                 <label class="control-label">Celular o teléfono fijo</label>                
                      {{form.celular}}
          </div>

            
        </div>
      <div class="col-sm-6">
                <div class="form-group required">
                       <label class="control-label">Trabajas en educación</label>                
                            {{form.trabajas_en_educacion}}
                </div>
                <div class="form-group required si-trabaja">
                       <label class="control-label">Institución de procedencia</label>                
                            {{form.institucion_de_procedencia}}
                </div>    
              
              <div class="form-group required si-trabaja">
                <label class="control-label">Nivel</label>
               <div class="checkbox">
                <label>{{form.preescolar}}Preescolar</label>
              </div>
              <div class="checkbox">
                <label>{{form.primaria}}Primaria</label>
              </div>
              <div class="checkbox">
                <label>{{form.secundaria}}Secundaria</label>
              </div>
              <div class="checkbox">
                <label>{{form.media_superior}}Media superior</label>
              </div>
              <div class="checkbox">
                <label>{{form.superior}}Superior</label>
              </div>
              <div class="checkbox">
                <label>{{form.posgrado}}Posgrado</label>
              </div>
              <div class="checkbox">
                <label>{{form.no_formal}}No formal</label>
              </div>
              </div>
                <div class="form-group required no-trabaja">
                       <label class="control-label">Ocupación</label>                
                            {{form.ocupacion}}
                </div>
                  <!--div class="form-group required no-trabaja">
                       <label class="control-label">Nombramiento</label>                
                            {{form.nombramiento}}
                </div-->
                  <div class="form-group required">
                       <label class="control-label">¿Deseas asistir a alguno de los talleres?</label>                
                            {{form.asistencia_talleres}}
                </div>
                    <div class="form-group required">
                       <label class="control-label">Selecciona un taller</label>                
                            <select name="taller" id="id_taller">
                              <option value="t2">
                                Taller 2: El entrenamiento de la Atención Plena para el manejo del estrés. [Turno vespertino]
                              </option>
                              <option value="t3">
                                Taller 3: Conectar desde la igualdad. Género y Mindfulness
                              </option>
                              
                            </select>
                </div>

                  <div class="form-group checkbox">
              <label class="control-label">{{form.te_gustaria_recibir_informacion}}Te gustaria recibir información</label>
            </div>    
                    </div>
    </div>    

  <div class="col-sm-12">  
    <div class="form-group">
	
		<input class="btn btn-success pull-left" type="submit" name="submit" value="Enviar">
	 <br><br>
  </div>
  </div>

</form>

{% endblock%}

{%block js%}
<script type="text/javascript" charset="utf-8">
$(document).ready(function() {

    $('#id_trabajas_en_educacion').change(function(){
         var trabajas_en_educacion = $( '#id_trabajas_en_educacion option:selected' ).val();
         if(trabajas_en_educacion == "Si"){
            $('.no-trabaja :input').prop('disabled', true);
            $('.si-trabaja :input').prop('disabled', false);
            

         }else if(trabajas_en_educacion == "No"){
            $('.no-trabaja :input').prop('disabled', false);
            $('.si-trabaja :input').prop('disabled', true);

         }
      });

      $('#id_asistencia_talleres').change(function(){
         var asistencia_talleres = $( '#id_asistencia_talleres option:selected' ).val();
         if(asistencia_talleres == "Si"){
            $('#id_taller').prop('disabled', false);
            $('#id_taller').prop('required', true);
            

         }else if(asistencia_talleres == "No"){
            $('#id_taller').prop('disabled', true);
            $('#id_taller').prop('required', false);
         }
      });

  });
</script>
{%endblock%}