{% extends "base.html"%}
{% block content%}
    <div class="row">
      
        <div class="col-sm-12">
        <ul class="nav nav-tabs">
  <li class="active"><a data-toggle="tab" href="#home">Taller 1</a></li>
  <li><a data-toggle="tab" href="#menu1">Taller 2</a></li>
  <li><a data-toggle="tab" href="#menu2">Taller 3</a></li>
  <li><a data-toggle="tab" href="#menu3">Taller 4</a></li>
</ul>

<div class="tab-content">
  <div id="home" class="tab-pane fade in active">
    <h3>Taller 1: El entrenamiento de la Atención Plena para el manejo del estrés. [Turno matutino]</h3>
    <p>Fecha: lunes 18 de septiembre de 2017</p>
    <p>Horario: 10:00 a 13:00 hrs.</p>
    <p>Lugar: Galería de la Preparatoria 8 “Miguel E. Schulz” de la E.N.P. – UNAM</p>
    <p>Ubicación: Av. Lomas de Plateros y Francisco P. Miranda S/N, Del. Álvaro Obregón, C.P. 01600 Ciudad de México, CDMX.</p>
  </div>
  <div id="menu1" class="tab-pane fade">
    <h3>Taller 2: El entrenamiento de la Atención Plena para el manejo del estrés. [Turno vespertino]</h3>
    <p>Fecha: lunes 18 de septiembre de 2017</p>
    <p>Horario: 16:00 a 19:00 hrs.</p>
    <p>Lugar: Galería de la Preparatoria 8 “Miguel E. Schulz” de la E.N.P. – UNAM</p>
    <p>Ubicación: Av. Lomas de Plateros y Francisco P. Miranda S/N, Del. Álvaro Obregón, C.P. 01600 Ciudad de México, CDMX.</p>
  </div>
  <div id="menu2" class="tab-pane fade">
    <h3>Taller 3: Conectar desde la igualdad. Género y Mindfulness.</h3>
    <p>Fecha: lunes 18 de septiembre de 2017</p>
    <p>Horario: 10:00 a 13:00 hrs.</p>
    <p>Lugar: Aula A003 – Facultad de Psicología de la UNAM</p>
    <p>Ubicación: Av. Universidad 3004, Col. Copilco Universidad, Del. Coyoacán, Cd. Universitaria, C.P. 04510, CDMX.</p>
  </div>
  <div id="menu3" class="tab-pane fade">
    <h3>Taller 4: Prácticas contemplativas para la consciencia plena.</h3>
    <p>Fecha: lunes 18 de septiembre de 2017</p>
    <p>Horario: 11:00 a 13:00 hrs.</p>
    <p>Lugar: Aula de Imágenes Cerebrales – Instituto Nacional de Psiquiatría</p>
    <p>Ubicación: Calzada México Xochimilco No. 101, Colonia San Lorenzo Huipulco, Del. Tlalpan, C.P. 14370, CDMX.</p>
  </div>
</div>
        </div>
  </div>

{% endblock%}


